<table class="table">
  <tbody>
    <tr>
      <td><strong>First name:</strong></td>
      <td><%= friends_list.first_name %></td>
    </tr>
    <tr>
      <td><strong>Last name:</strong></td>
      <td><%= friends_list.last_name %></td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= friends_list.email %></td>
    </tr>
    <tr>
      <td><strong>Phone:</strong></td>
      <td><%= friends_list.phone %></td>
    </tr>
    <tr>
      <td><strong>Socials:</strong></td>
      <td><%= friends_list.socials %></td>
    </tr>
  </tbody>
</table>

